:root {
  --toggle-display: flex;

  --navbar-display: none;
  --mobile-navbar-display: flex;

  --header-height: 3.5rem;
  --header-padding: 0 1.6rem;

  --navbar-position: fixed;
  --navbar-flex-direction: column;
  --navbar-width: 100%;
  --navbar-background-color: #000000;
  --navbar-color: #fffbeb;

  --nav-link-height: 5rem;

  --projects-section-padding: var(--header-height) 1rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* outline: 1px solid yellow; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-up-container {
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 4rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  backdrop-filter: blur(0.5rem);
  border-radius: 50%;
}

.arrow-up {
  border-top: 2px solid;
  border-left: 2px solid;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.5rem;
  transform: rotate(45deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  height: var(--header-height);
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
  padding: var(--header-padding);
}

#navbar {
  display: var(--navbar-display);
  flex-direction: var(--navbar-flex-direction);
  align-items: center;
  position: var(--navbar-position);
  top: -100vh;
  right: 0;
  left: 0;
  z-index: 8;
  transition: 500ms ease-in-out;
  width: var(--navbar-width);
  color: var(--navbar-color);
}

#mobile-navbar {
  display: var(--mobile-navbar-display);
  flex-direction: var(--navbar-flex-direction);
  align-items: center;
  position: var(--navbar-position);
  top: -100vh;
  right: 0;
  left: 0;
  z-index: 8;
  transition: 500ms ease-in-out;
  width: var(--navbar-width);
  color: var(--navbar-color);
}

#mobile-navbar.active {
  top: var(--header-height);
}

.nav-link {
  width: 100%;
  height: var(--nav-link-height);
  background-color: var(--navbar-background-color);
}
.nav-link:hover {
  color: aqua;
}

.brand {
  height: var(--header-height);
}

#toggle {
  display: var(--toggle-display);
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
#toggle::before,
#toggle::after {
  content: '';
  position: absolute;
  width: 1.6rem;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 0.1rem;
}
#toggle::before {
  transform: translateY(-5px);
  transition: 0.3s;
}
#toggle::after {
  transform: translateY(5px);
  transition: 0.5s;
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.section-title {
  text-align: center;
  margin: 1rem auto;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, black, darkred, gray);
  height: calc(100vh - var(--header-height));
}
.welcome-section h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0 0 2.5rem 0;
}
.welcome-section p {
  font-style: italic;
  font-size: 1.2rem;
  color: gold;
}

.projects-section {
  background-color: gray;
  padding: var(--projects-section-padding);
}
.projects-section h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 4rem 0;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  place-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.project-tile {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-tile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.project-tile-info-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media screen and (min-width: 48rem) {
  :root {
    --toggle-display: none;

    --navbar-display: flex;
    --mobile-navbar-display: none;

    --header-padding: 0 4rem;

    --navbar-position: unset;
    --navbar-flex-direction: unset;
    --navbar-width: 22rem;

    --nav-link-height: var(--header-height);
  }
}
