:root {
  --body-background-color: #150050;

  --header-height: 4rem;

  --navbar-background-color: #000000;
  --navbar-color: #FFFBEB;

  --main-section-max-width: 50rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-background-color);
}

main {
  max-width: 50rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

#toggle {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle::before,
#toggle::after {
  content: '';
  position: absolute;
  width: 1.8rem;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 0.1rem;
}

#toggle::before {
  transform: translateY(-5px);
  transition: 0.3s;
}

#toggle::after {
  transform: translateY(5px);
  transition: 0.5s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
}

.header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-section-max-width);
  height: 100%;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.desktop-navbar {
  display: none;
}

#mobile-navbar {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: gray;
  transition: 0.5s;
  width: 100%;
}

#mobile-navbar.active {
  top: var(--header-height);
}

#mobile-navbar a {
  display: block;
  padding: 2rem;
}

#mobile-navbar a:hover {
  display: block;
  padding: 2rem;
}

#welcome-section {
  background-image: linear-gradient(90deg, #3a3d40 0%, #181719 100%);
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.welcome-subtitle {
  font-style: italic;
  color: yellow;
}

.projects-container {
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background-color: black;
  color: white;
  width: 300px;
  margin-bottom: 2rem;
  border-radius: .5rem;
  text-align: center;
}

.project-card:first-of-type {
  margin-top: 2rem;
}

.project-card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.project-card-info {
  padding: 1rem 0;
}

.project-card-title {
  margin: 1rem;
}

.project-card-links-container {
  padding: 1rem;
}

.project-card-links-container a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: .5rem 1.5rem;
  margin: .5rem;
  border-radius: .5rem;
}

@media screen and (min-width: 48rem) {
  #mobile-navbar {
    display: none;
  }

  #toggle {
    display: none;
  }

  .desktop-navbar {
    display: block;
  }
}